.mainContainer__logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    width: 10%;
    position: absolute;
    bottom: 0;
    right: 0;

    img{
        width: 50%;
        min-width: 95px;
        margin-bottom: 30px;
        z-index: 2;
    }
}