.mainContainer__project{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow-y: hidden;

    &State{
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        &Line{
            width: 40%;
            height: 2px;
            background-color: $color-blue;
        }

        &Number{
          color: $color-gray;  
          font-size: $typo-h2;
          margin: 0px;
          width: 10%;
          text-align: center;
        }
    }

    &Item{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;

        &Name{
            position: absolute;
            z-index: 3;
            margin-left: 55px;
            width: 60%;
            display: flex;
            flex-direction: column;
        
            h1{
                font-size: $typo-bigger;
                color: $color-white;
                font-weight: $typo-bold;
                font-family: 'Agency FB', sans-serif;
                margin: 0;
                z-index: 3;
            }
            h3{
                font-size: $typo-h2;
                color: $color-white;
                font-family: 'Agency FB', sans-serif;
                font-weight: $typo-regular;
                margin: 0;
                z-index: 3;
            }
            span{
                font-family: 'Agency FB', sans-serif; 
            }
        }

        &Img{
            // position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 2;
            width: 100%;
            height: 100%;

            img{
                width: 70%;
                height: 70%;
                cursor: pointer;
            }
        }

        &Arrow{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
            z-index: 4;
            position: absolute;
            bottom: 0;
            width: 96%;

            img{
                width: 3%;
                cursor: pointer;
            }
        }
    }
}

.carrousel{
    height: 100vh;
    width: 100%;
    overflow: hidden;

    &__stripe {
        height: 100%;
        display: flex;
        flex-direction: column;
        transition: transform .6s ease;
        margin-top: 50px;
      }
}

// #canvasImg {
//     /* make the canvas wrapper fits the document */
//     position: absolute;
// }

// .curtain {
//     /* define the size of your plane */
//     position: absolute;
//     top: 5%;
//     right: 5%;
//     bottom: 5%;
//     left: 5%;
// }

// .curtain img {
//     /* hide the img element */
//     display: none;
// }

body {
    /* make the body fit our viewport */
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    
    /* hide scrollbars */
    overflow: hidden;
  }

  #page-wrap{
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  #canvas {
    /* make the canvas wrapper fit the window */
    height: 100vh;
    width: 100vw;
  }
  
  .curtain {
    /* define the size of your curtain */
     position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
  }
  
  .curtain img {
    /* hide the img element */
    display: none;
  }
  
  /*** in case of error show the image ***/
  
  .no-curtains .curtain {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .no-curtains .curtain img {
    display: block;
    max-width: 100%;
    object-fit: cover;
  }